div#page {
  width: 960px;
  margin: auto;
}

header{
    position: absolute;
    width: 1200px;
    height: 200px;
    margin-left: 60px;
    top: 0;
    left: 0;
}

a:link {
  margin-left: 80px;
  color: white;
  z-index: 1;
}


nav {
  position: absolute;
  float: left;
  margin-left: 50px;
  margin-top: 10px;
  width: 220px;
  height: 2000px;
  background: #ccc;
  padding: 20px;
}

#contact > li:nth-child(3) > a {
  color: black;
  margin-left: 10px;
}

#contact > li:nth-child(5) > a {
  color: black;
  margin-left: 5px;
}

#skills > ul > li {
  font-size: 130%;
  font-family: 'EB Garamond';
}

#experience > h3, h4, h5, h6, h7, h8 {
  font-family: 'Roboto';
  font-size: 150%;
  color: #0d8FCD;
  margin-top: 10px;
}

#aboutme > h9 {
  font-size: 200%;
  font-family: 'Roboto';
  font-weight: bold;
  color: #0d8FCD;
  margin-top: 10px;
}

#aboutme > p {
  font-family: 'EB Garamond';
  font-size: 130%;
  margin-left: -215px;
  margin-top: 50px;
}

#education {
  margin-left: -200px;
  margin-top: 40px;
  font-family: 'EB Garamond';
}

#skillsets {
  margin-left: -200px;
  margin-top: 40px;
  font-family: 'EB Garamond';
}

#skills > h10 {
  font-size: 150%;
  font-family: 'Roboto';
  font-weight: bold;
  color: #0d8FCD;
}

#skills {
  margin-top: -40px;
  font-family: 'EB Garamond';
  font-size: 130%;
}

#skills > ul {
  font-family: 'EB Garamond';
  font-size: 95%;
  margin-left: -20px;
}

#skills > div.leftcolumn {
  margin-top: 30px;
}


#leftskill {
  margin-left: -40px;
}

#middleskill {
  margin-left: -40px;
}

#skills > div.middlecolumn {
  margin-left: 350px;
  margin-top: -150px;
}

#rightskill {
  margin-left: -40px;
}

#skills > div.rightcolumn {
  margin-left: 650px;
  margin-top: -260px;
}

#projects {
  margin-left: -200px;
  margin-top: 40px;
  font-family: 'EB Garamond';
}

#work {
  margin-left: -200px;
  margin-top: 40px;
}

#leadership {
  margin-left: -200px;
  margin-top: 60px;
}

#clubs {
  margin-left: -200px;
  margin-top: 50px;
}

.table {
  display: table;
  margin: 0 auto;
}

.nowrap {
  white-space: nowrap;
}

ul#contact {
  margin-left: -40px;
  margin-top: 70px;
}

#name > h2 {
  margin-left: 390px;
  font-size: 300%;
}

.post-content{
    width:70%;
    float: right;
}

body {
  width: auto;
  background-color: body {
  background-color: #3396FF;
  color:#D3FFFF;
  margin: 0px;
  }
}

main {
  width: 960px;
  margin-left: 300px;
  margin-right: auto;
}

nav li {
  display: inline;
}

nav a {
  color: white;
}

#home #content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 15% auto auto;
  grid-gap: 10px;
}

#resume #content {
  margin-top: 70px;
}

#summary {
  grid-row: 2;
}

#links {
  grid-column: 2;
  grid-row: 3;
}

#resume #content section:not(#name) {
  width: auto;
  padding: 10px 50px 55px 50px;
}

#content > header {
  z-index: -1;
}

body > nav {
  margin-top: 184px;
  margin-left: 52px;
}


#name {
  width: auto;
  height: 80px;
  background-color: #333a56;
  color: white;
  padding: 30px 700px 100px 50px;
}

#experience, #aboutme {
  display: grid;
  background-color: white;
  grid-template-columns: 25% auto;
  margin-top: 200px;
}


#experience, #aboutme p:not(.date), #experience, #aboutme ul {
  grid-column: 2;
}
