div#page {
  width: 960px;
  margin: auto;
}

header{
    position: absolute;
    width: 1200px;
    height: 200px;
    margin-left: 60px;
    top: 0;
    left: 0;
}


nav {
  position: absolute;
  float: left;
  margin-left: 50px;
  margin-top: 10px;
  width: 220px;
  height: 2000px;
  background: #ccc;
  padding: 20px;
}


.post-content{
    width:70%;
    float: right;

} */


body {
  width: auto;
  background-color: body {
  background-color: #3396FF;
  color:#D3FFFF;
  margin: 0px;
  }
}

main {
  width: 960px;
  margin-left: 300px;
  margin-right: auto;
}

nav li {
  display: inline;
}

nav a {
  color: white;
}

#home #content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 15% auto auto;
  grid-gap: 10px;
}

#resume #content {
  margin-top: 70px;
}

#summary {
  grid-row: 2;
}

#links {
  grid-column: 2;
  grid-row: 3;
}

#resume #content section:not(#name) {
  width: auto;
  padding: 10px 50px 55px 50px;
}

#name {
  width: auto;
  height: 80px;

  background-color: #333a56;
  color: white;
  padding: 30px 700px 100px 50px;
}

#experience {
  display: grid;
  background-color: white;
  grid-template-columns: 25% auto;
  margin-top: 200px;
}


#experience p:not(.date), #experience ul {
  grid-column: 2;
}
